<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testn.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="/Users/ravi/IdeaProjects/selenium-framework">
        <classes>
            <class name="com.projectx.testcases.Login">
                <methods>
                    <include name="verifyLoginWithValidCredentials"/>
                    <include name="verifyLoginWithInValidCredentials"/>
                    <include name="verifyLoginWithoutCredentials"/>
                </methods>
            </class>
            <class name="com.projectx.testcases.Register">
                <methods>
                    <include name="verifyRegisteringWithMandatoryFields"/>
                    <include name="verifyRegisteringWithMandatoryWithRadioOptionFields"/>
                    <include name="verifyRegisteringWithMandatoryWithoutPolicy"/>
                    <include name="verifyRegisteringWithoutAnyFields"/>
                </methods>
            </class>
            <class name="com.projectx.testcases.Search">
                <methods>
                    <include name="verifySearchWithValidProduct"/>
                    <include name="verifySearchWithInValidProduct"/>
                    <include name="verifySearchWithNoProduct"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>