<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testn.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test name="/Users/ravi/IdeaProjects/selenium-framework">
        <classes>
            <class name="com.projectx.testcases.Login"/>
            <class name="com.projectx.testcases.Register"/>
            <class name="com.projectx.testcases.Search"/>
        </classes>
    </test>
</suite>